.widgetTable{
	width:100%;
	background:white;
	//font-family: Arial,Geneva,Helvetica,sans-serif !important;
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}


.widgetTable thead tr th{
	text-align:center;
	background:#f9f9f9;
	border-bottom:1px solid #eee;
	font-size:13px;
	padding:5px;
	border-left:1px solid #eee;
}

.widgetTable thead tr th:first-child{
	border-left:none;
}


.widgetTable tbody tr td{
	font-size:13px;
	padding:3px;
	color:#666;
	border-bottom:1px solid #eee;
	border-left:1px solid #eee;
}

.widgetTable tbody tr td:first-child{
	border-left:none;
}

.widgetTable tbody tr:hover td{
	background:#f0f0f0;
	color:#333;
	cursor:default;
}




.subtableForm{
	background:#edf1f5;
	position:absolute;
	width:800px;
	
	top:77px;
	left:50%;
	margin-left:-400px;
	//box-shadow:3px 3px 20px #999;
	z-index:1000;
	outline:9999px solid rgba(0,0,0,0.5);
}



.subtableForm_header{
	background:white;
	border-bottom:1px solid #ddd;
	height:41px;
}

.subtableForm_header div{
	height:40px;
	display:inline-block;
	/background:lime;
	width:8%;
	padding:8px 5px 8px 5px; 
	float:left;
	background:white;
	text-align:center;
}

.subtableForm_header div:hover{
	opacity:1.0 !important;
}

.subtableForm_header div:first-child{
	width:84%;
}

.subtableForm_body{
	padding:5px 30px 30px 30px;
	height:100%;
}

.subtableForm_body input{
	width:100%;
}



.checkbox input[type='checkbox']{
	margin-right:10px;
}

label,.formFieldLabel{
	user-select:none;
}

table.pageTable tr td{
	padding-left:20px;
	padding-right:20px;
}

table.pageTable tr td:first-child{
	padding-left:0;
}

table.pageTable tr td:last-child{
	padding-right:0;
}


..widgetTable tr td:nth-child(2n) 	{background:#f9f9f9;}
..widgetTable tr td:nth-child(2n+1) 	{background:#f9f9f9;}

..widgetTable tr th:nth-child(2n) 	{background:#f9f9f9;}
..widgetTable tr th:nth-child(2n+1) 	{background:#ffffff;}

..widgetTable tr:hover td:nth-child(2n) 	{background:#fff;}
..widgetTable tr:hover td:nth-child(2n+1) 	{background:#f9f9f9;}

..widgetTable tr th:nth-child(2n) 	{background:#f0f0f0;}
..widgetTable tr th:nth-child(2n+1) 	{background:#f9f9f9;}





