.panelActions{
		position:fixed;
		width:100%;
		top:0;
		left:0;
		z-index:100;
		background:#fff;
		height:50px;
		padding:0px 20px 0px 20px;
		box-shadow:0 0 6px #ccc; 
		padding-left:72px;
	}
	
	.panelActions table{
		border-collapse: collapse;
		width:100%;
	}
	
	.panelActions table td{
		padding:0;
	}
	
	.panelActions .panelBtn{
		height:50px;
		min-width:50px;
		display:inline-block;
		background:#fff;
		padding:0px 10px 0px 10px;
		color:#777;
		text-decoration:none;
		text-align:center;
		line-height:50px;
		border-left:1px solid #eee;
		user-select: none;
	}
	
	.panelActions .panelBtn:first-child{
		border-left:none;
	}
	
	.panelActions .panelBtn:hover{
		text-decoration:none;
		background:#edf1f5;
		cursor:pointer;
		color:#000;
	}
	
	
	.crudTable{
		width:100%;
		background:white;
	}

	
	.crudTable thead tr th{
		text-align:center;
		background:#f9f9f9;
		border-bottom:1px solid #eee;
		font-size:13px;
		padding:5px;
		border-right:1px solid #eee;
	}
	
	.crudTable thead tr th:last-child{
		border-right:none;
	}
	
	
	.crudTable tbody tr td{
		font-size:13px;
		padding:3px;
		color:#666;
		border-bottom:1px solid #eee;
	}
	
	.crudTable tbody tr:hover td{
		background:#f0f0f0;
		color:#333;
		cursor:default;
	}
	
	
	
	
	
	.panelContent{
		margin:0 20px 20px 20px;
	}
	
	
	.crudTable tr td:nth-child(2n) 	{background:#f9f9f9;}
	crudTable tr td:nth-child(2n+1) 	{background:#f9f9f9;}

	crudTable tr th:nth-child(2n) 	{background:#f9f9f9;}
	crudTable tr th:nth-child(2n+1) 	{background:#ffffff;}

	crudTable tr:hover td:nth-child(2n) 	{background:#fff;}
	crudTable tr:hover td:nth-child(2n+1) 	{background:#f9f9f9;}

	crudTable tr th:nth-child(2n) 	{background:#f0f0f0;}
	crudTable tr th:nth-child(2n+1) 	{background:#f9f9f9;}

	.panelBreadcrumbs{
		margin:10px 0 10px 0;
		padding-left:22px;
		color:gray;
		font-size:14px;
	}
	
	.panelBreadcrumbs a{
		color:#68B1FF;
	}
	
	.panelBreadcrumbs a:hover{
		color:#007bff;
	}
	
	
	
	.panelDropdown .panelDropdownList{
		position:absolute;
		display:none;
		background:white;
		z-index:1;
		margin-left:-11px;
	}
	
	.panelDropdown .panelDropdownListRight{
		min-width:150px;
		right:0;
	}
	
	.panelDropdown:hover .panelDropdownList{
		
		display:block;
		box-shadow:3px 3px 8px #ccc; 
	}
	
	.panelDropdown .panelDropdownList .panelBtn{
		display:block;
		text-align:left;
		height:40px;
		line-height:40px;
		border-left:2px solid white;
	}
	
	.panelDropdown .panelDropdownList .panelBtn:hover{
		border-left:2px solid #8DC1F4;
		background:#fff;
	}

	table.microtable {
		border-collapse: collapse;
		width:100%;
	}
	
	table.microtable:hover {
		position:absolute;
		right:0;
		width:300px;
		border:2px solid gray;
		background:white;
	}
	
	table.microtable tr td{
		border:0px solid gray;
		padding:0;
		margin:0;
		font-size:10px;
		line-height:10px;
		max-height:30px;
		overflow:hidden;
	}
	
	table.microtable:hover tr td{
		font-size:12px;
		line-height:14px;
		background:white;
	}
	
	table.microtable tr td:first-child{
		text-align:right;
		padding-right:3px;
	}
	
	.sfForm{
		background:#f9f9f9;
		width:100%;
		padding:10px;	
		border:1px solid #ddd;
	}
	
	.sfForm table{
		width:100%;
	}
	
	.sfForm table tr td{
		//padding:5px;
	}
	
	.sfForm table tr td:first-child{
		
	}
	
	.formControl{
		width:100%;
		border:1px solid #eee;
		padding:3px 5px 3px 5px;
		color:#495057;
		font-size:13px;
	}
	
	.sfForm .formControl:disabled{
		background:#e9ecef;
	}
	
	.sfForm .formControl:hover{
		border:1px solid #80bdff;
	}
	
	.sfForm .formControl:focus{
		box-shadow:0 0 5px #80bdff;
		border:1px solid #80bdff;
		transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	}
	
	.sfFormControls{
		margin-top:15px;
		margin-right:5px;
	}
	
	
	
	
	
	
	
	.pageTable tr td {
		vertical-align:top;
	}
	
	
	
	
	.formFieldLabel{
		font-size:13px;
		color:gray;
		margin-top:15px;
	}
	
	
	.sfBtn{
		min-width:150px;
		text-align:center;
		height:40px;
		overflow:hidden;
		display:inline-block;
		line-height:30px !important;
		border:none;
		font-size:13px;
		padding:0 !important;
		text-decoration:none;
		margin:0;
		margin-right:5px;
		border-radius:0;
	}
	
	.sfBtn:hover{

	}
	
	.sfColorBlue		{background:hsl(230,50%,50%); }
	.sfColorBlue:hover	{background:hsl(230,50%,50%); }
	
	.sfColorGreen		{background:hsl(130,50%,50%);}
	.sfColorGreen:hover	{background:hsl(130,30%,50%);}
	
	.sfColorGray{background:#f0f0f0;}
	.sfColorGray:hover{background:#e0e0e0;}
	
	.btn {
		font-size:14px;
	}
	
	
	.simpleFormField{
		padding:5px;
	}
	
	.simpleFormField .formFieldLabel{
		
		padding:0;
		margin:0;
		display:inline-block;
		width:200px;
		text-align:right;
		margin-right:5px;
		vertical-align:top;
		padding-top:3px;
	}
	
	.simpleFormField .formFieldLabel:after{
		content: ":";
	}
	
	.simpleFormField .formField{
		
		padding:0;
		margin:0;
		display:inline-block;
		width: calc(100% - 250px);
	}
	
	.rowIcon{
		height:32px;
	}
	
	.datetime{
		font-size:12px;
		padding-left:10px;
	}
	
	.datetime span{
		font-size:10px;
		font-weight:bold;
		color:gray;
	}
	
	
	
	.orderMoverUp,.orderMoverDown{
		display:inline-block;
		width:20px;
		height:20px;
		text-align:center;
		line-height:20px;
		font-size:16px;
		color:#ccc;
		margin:1px;
		cursor:pointer;
	}
	
	
	
	.orderMoverUp:hover{
		color:red !important;
	}
	
	.orderMoverDown:hover{
		color:blue !important;
	}
	
	
	.filePreviews{
		border:1px solid #eee;
		border-top:none;
		padding:5px;
	}
	
	.filePreview{
		margin:3px;
		display:inline-block;
	}
	
	.filePreview img{
		max-height:70px;
	}
	
	
	
	
	.widget_component {
		
	}
	
	.component_dir{
		border:1px solid #eeeeee;
		max-height:600px;
		max-width:1000px;
		overflow-y:auto;
	}
	
	.component_dir img{
		height:70px;
	}
	
	.component_dir .image{
		display:inline-block;
		height:70px;
	
		overflow:hidden;
		margin:1px;
		border:1px solid #eee;
	}
	
	.component_dir .file{
		display:inline-block;
		height:70px;
		width:70px;
		overflow:hidden;
		padding:3px;
		
		background:white;
		margin:1px;
		border:1px solid #eee;
		font-size:12px;
	}
	
	
	.coordinates_choser{
		height:300px;
	}
	
	.coordinates_choser iframe{
		width:100%;
		height:100%;
	}
	
	
	.tableImage{
		height:50px;
	}
	
	
	
	.note-toolbar{
		background:#f9f9f9;
	}
	
	.note-btn{
		background:#f9f9f9;
		border:1px solid #f9f9f9;
	}
	
	
	
	.report_body{
		background:white;
		
		font-size:13px;
	}
	
	.report_body table{
		width:100%;
	}
	
	.report_body table thead th{
		background:#f9f9f9;
		border:1px solid #ddd;
		text-align:center;
	}
	
	.report_body table tbody td{
		padding:1px 5px 1px 5px;
		border:1px solid #ddd;
		line-height:16px;
	}
	
	.report_body table tbody tr:hover td{
		background:#f0f0f0;
	}
	
	.microtext{
		font-size:12px;
	}
	
	.microtext a{
		color:black !important;
	}
	
	.microtext a:hover{
		color:white !important;
		font-size:14px;
		background:green;
		text-decoration:none;
		padding:2px;
	}
	
	.report_filters{
		background:#fff;
		padding:1px 20px 10px 20px;
		
	}
	
	.report_filters td{
		padding-right:5px;
	}
	
	table.tdtable{
		border:none;
	}
	
	table.tdtable tr td{
		border:0px;
		border-top:1px dotted gray;
	}
	
	table.tdtable tr:first-child td{
		border-top:none;
	}
	
	table.tdtable tr td:first-child{
		width:50px;
	}
	
	
	
	
	
	
			.tabset{
				border-bottom:1px solid #ddd;
				padding:0;
			}
			
			.tabset .tabPage{
				display:none;
				margin:0;
				background:#f9f9f9;
				padding-bottom:15px;
			}
			
			.tabset .tabPage[active=active]{
				display:block;
				border-right:1px solid #ddd;
				border-left:1px solid #ddd;
				padding:0 15px 15px 15px;
			}
			
			.tabsetHeader {
				background:#f9f9f9;
				border-bottom:1px solid #ddd;
				height:42px;
			}
			
			.tabsetHeader .tabsetButton{
				font-size:14px;
				margin-top:2px;
				border-top:1px solid #f9f9f9;
				display:inline-block;
				//background:#f9f9f9;
				background:#f0f0f0;
				padding:7px 20px 7px 20px;
				margin-right:4px;
				cursor:pointer;
				min-width:150px;
				text-align:center;
				height:40px;
				border-bottom:1px solid #ddd;
				color:gray;
				user-select:none;
			}
			
			.tabsetHeader .tabsetButton:hover{
				//background:#f0f0f0;
				background:#e9e9e9;
				
			}
			
			.tabsetHeader .tabsetButton[active=active]{
				margin-top:0px;
				border-top:1px solid #ddd;
				background:#f9f9f9;
				border-bottom:0px;
				border-left:1px solid #ddd;
				border-right:1px solid #ddd;
				color:#666;
			}
			
			.default_tab {
				
				
				margin-bottom:30px;
			}