body {
	font-family: Helvetica,Arial,sans-serif;
}

h1,h2,h3 {
	
	text-transform:uppercase;
}


.mainmenu{
	display: flex;
	background:#e3e3e3;
}

.mainmenu a{
	flex-grow: 1;
	color:#194583;
	text-align:center;
	font-size:14px;
	padding:3px 10px 3px 10px;

}

.mainmenu a:hover{
	text-decoration:none;
	background:#fff;
}

.submenu{
	margin-top:3px;
	display: flex;
	background:#30d5c8;
}

.submenu a{
	flex-grow: 1;
	color:black;
	text-align:center;
	font-size:14px;
	padding:3px 10px 3px 10px;
}

.submenu a:hover{
	text-decoration:none;
	color:#208E85;
	background:white;
}

.header_date{
	margin-top:20px;
}
		
.header_date,.header_time{
	text-align:right;
	font-size:16px;
}


		
		
.livenews{
	padding-top:5px;
}
	
.livenews div{
	padding:2px 10px 2px 10px;
	background:#f0f0f0;
	color:black;
	margin-top:2px;
}

.livenews div:hover{
	color:red;
}
		
		
.promonews{
	height:200px;
	margin-bottom:3px;
	background-size:cover;
	background-position:center;
	
}

.promonews div{
	background:rgba(255,100,115,0.85);
	width:100%;
	max-width:150px;
	color:white;
	padding:5px;
	
}

		
.newspic{
	width:100%;
	min-width:100px;
}

h1.newsheader{
	font-size:15px;
	padding:0;
	margin-top:5px;
	text-transform:none;
	line-height:18px
}

.newsmeta{
	margin-top:30px;
}

.newsmeta div{
	display:inline-block;
	width:50%;
} 

.newsmeta div:last-child{
	text-align:right;
}

.newsmeta a{
	text-align:right;
}


h1.newsheader{
	padding:0;
	margin:0;
	margin-bottom:5px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size:16px;
	color:black;
}

.newsitem a:hover{
	text-decoration:none;
}

.newsrow{
	
}

hr.news {
	margin:7px 0 7px 0;
	border:1px solid white;
	border-bottom:1px solid #c0c0c0;
	width:100%;
}



table.news{
	width:100%;
	border-bottom:1px solid #70809c;
	margin-bottom:5px;
}



table.news tr td:first-child{
	font-size:12px;
	text-align:right;
	width:70px;
	padding-right:15px;
	padding-top:2px;
	vertical-align:top;
	color:#70809c;
}

table.news tr.bottom td{
	padding-bottom:5px;
}

.newsdv{
	text-align:right;
}

.newsdv a{
	font-size:12px;
	color:#70809c;
	
}

.newsdv a:hover{
	text-decoration:none;
	color:red;
}

.author{
	font-size:13px;
	color:#70809c;
}



span.breakingnews{
	color:red;
	animation: animationFade; 
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}

@keyframes animationFade { 
  0% 	{ opacity:1.0; } 
  50% 	{ opacity:0.0; } 
  100% 	{ opacity:1.0; } 
}

.tlink:hover{
	text-decoration:none;
}

.plink:hover{
	text-decoration:none;
}


		

footer{
	margin-top:120px;
	padding-top:20px;
	text-align:center;
	border-top:2px solid #ebebeb;
	line-height:14px;
	margin-bottom:20px;
}

.readbtn{
	background:rgba(255,255,255,0.9);
	padding:15px;
	color:black;
	font-size:16px;
}

.readbtn:hover{
	text-decoration:none;
	background:white;
}


.smalllink{
	color:#666;
	text-transform:uppercase;
	font-size:11px;
	font-weight:bold;
}

.smalllink:hover{
	color:#000;
	text-decoration:none;
}





.listItemLand{
	display:block;
	margin-bottom:60px;
	color:black;
}

.listItemLand:hover{
	cursor:pointer;
	color:#999;
}


.listItemLand:hover img{
	opacity:0.7;
}


.listItemLand .date{
	padding-top:8px;
	display:inline-block;
	width:10%;
	margin-right:5%;
	height:100%;
	vertical-align:top;
	color:#999;
	font-size:14px;
	font-family: 'Roboto', Helvetica,Arial,sans-serif;
}

.listItemLand:hover .date{
	opacity:0.8;
}

.listItemLand .date span{
	border-top:2px dotted #999;
	border-bottom:2px dotted #999;
	padding-top:7px;
	padding-bottom:5px;
	padding-left:2px;
}

.listItemLand .content{
	display:inline-block;
	width:85%;
}

.listItemLand .content h1{
	margin:0;
	font-size:30px;
	text-transform:uppercase;
	margin-bottom:20px;
}

.listItemLand .content img{
	max-width:350px;
	width:100%;
	float:left;
	margin-right:10px;
}

.listItemLand .content p{
	display:inline-block;
	font-size:16px;
	font-weight:normal;
	min-width:300px;
	font-family:Helvetica,Arial,sans-serif;
}

h1.title{
	margin-top:10px;
	margin-bottom:10px;
}

hr.mini{
	border:2px solid #d0d0d0;
	border-radius:2px;
	width:100px;
	margin-bottom:80px;
}

.titledate{
	font-size:16px;
	margin-bottom:30px;
}

.pagecontent{
	font-family:Helvetica,Arial,sans-serif;
	font-size:16px !important;
}

.pagecontent img{
	max-width:100%;
}

.ad_fixed_side{
	top:5px;
	position:sticky;
}

.ad_fixed_side img{
	width:100%;
}


.sfwidget_pagination{
	text-align:center;
}

.sfwidget_pagination a {
	color:#999;
	display:inline-block;
	padding:5px 15px 5px 15px;
	
	margin:1px;
	text-align:center;
	font-size:18px;
	
	text-decoration:none;
	user-select: none;
}

.sfwidget_pagination a:first-child,.sfwidget_pagination a:last-child{
	background:#f5f5f5;
}

.sfwidget_pagination a:hover{
	color:#333;
}

.sfwidget_pagination a[current] {
	color:#444;
}


.author_div{
	
	padding-top:5px;
	padding-bottom:5px;
	height:90px;
	margin-bottom:10px;
}

.author_pic {
	width:80px;
	height:80px;
	border-radius:40px;
	overflow:hidden;
	float:left;
	margin-right:20px;
}

.author_div .author_pic img{
	width:100%;
}

.author_name{
	margin:10px;
}

.author_table{
	width:100%;
	border-top:1px solid #f0f0f0;
	border-bottom:1px solid #f0f0f0;
	margin-bottom:10px;
}

.author_table tr td:last-child{
	text-align:right;
	
}

.clips:hover{
	text-decoration:none;
}


.formtable{
	width:100%;
}

.formtable tr td {
	padding:5px;
}

.formtable tr td .form-control{
	border-radius:0;
}

.formtable tr td .btn{
	border-radius:0;
}

.formtable tr td:first-child {
	width:150px;
	text-align:right;
}

.comment{
	margin:3px;
	border-top:1px solid #f0f0f0;
	padding-top:5px;
}

.comment span {
	color:gray;
	font-size:12px;
}

.comment b {
	color:black;
	font-size:16px;
}

.comment p {
	color:black;
	font-size:14px;
}



.mobile_menu{
	display:none; 
	position:fixed; 
	left:0; 
	top:0; 
	width:100%; 
	height:100%; 
	z-index:500; 
	background:white; 
	color:#000;
}

.mobile_menu a:hover{
	text-decoration:none;
}

.mobile_menu ul{
	text-align:center;
	margin:5%;
	padding:0;
}

.mobile_menu ul li{
	list-style-type: none;
	margin:0;
	font-size:20px;
	color:#000;
	margin-bottom:3px;

}


iframe{
	width:100%;
}

.newsCount{
	font-size:12px;
	color:gray;
	margin-bottom:5px;
	float:right;
	text-align:right;
}


.sideNews{
	margin-bottom:10px;
}

.sideNews a:hover{
	text-decoration:none;
}

.sideNews h3{
	margin-top:0px;
	background:#30d5c8;
	font-size:14px;
	padding:3px 5px 3px 5px;
	color:black;
	display:inline-block;
	min-width:150px;
}

.sideNews ul{
	margin-left:0px;
	padding-left:15px;
}


.sideNews ul li{
	color:#5e5d62;
	font-size:12px;
	margin-left:0px;
}

.input-group{
	border:1px solid #e3e3e3;
	width:100%;
	padding:0;
	text-align:right;
}

.input-group:hover{
	border:1px solid #ccc;
}

.input-group img{
	display:inline-block;
	height:16px;
}

.input-group input{
	display:inline-block;
	padding:3px 8px 3px 8px;
	height:26px;
	margin:0;
	border:none;
}

.input-group input[type=submit]{
	background:#e3e3e3;
	width:70px;
	color:#777;
}

.input-group input[type=text]{
	width:255px;
}



#markets {
	margin-top:5px;
	height:28px;
	overflow:hidden;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding-top:1px;
	padding-bottom:1px;
}

#markets_viewport{
	width:100000px;
	height:24px;
}

#markets_line{
	display:inline-block;
	height:24px;
}

.market_ticker{
	display:inline-block;
	margin-left:40px;
	margin-bottom:2px;
}

.market_ticker div{
	display:inline-block;
	height:24px;
}

.market_ticker div img{
	height:10px;
	margin-left:5px;
	margin-right:5px;
}

.market_label{
	font-weight:bold;
	margin-right:5px;
}

.market_value_pos{
	background:#BFF0BF;
	margin-right:5px;
	padding:2px;
}

.market_value_neg{
	background:#FFA8AF;
	margin-right:5px;
	padding:2px;
}