.noprint{
	display:none;
}

* {
	font-size:12px;
	font-family:arial,sans-serif;
	color:black !important;
}

a{
	text-decoration:none;
	color:black;
}

html,body{
	margin:0;
	padding:0;
}

table{
	width:100%;
	border:1px solid black;
	border-collapse: collapse;
}

table td{
	border:1px solid black;
	padding:2px;
	width:auto !important;
	vertical-align:top;
} 

table th{
	text-align:center;
	font-weight:bold;
	border:1px solid black;
	width:auto !important;
}




table.tdtable{
	border:none;
}

table.tdtable tr td{
	border:none;
	border-top:1px dotted black;
}

table.tdtable tr:first-child td{
	border-top:none;
}

table.tdtable tr td:first-child{
	width:50px;
}